*{
    margin: 0;padding: 0;box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,blue 50%,rgba(128, 128, 128, 0.397) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    >.circle{
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background: white;
        position: absolute;
        background-image: url(./29-290306_clock-clipart-transparent-background-clock-clipart.png);
        background-position: 1px -20px;
        background-size: cover;
        background-repeat: no-repeat;
        >span{
            display: flex;
            width: 2px;
            background-color: #000;
            border: 2px solid black;
            position: absolute;

            transform-origin: bottom;
            z-index: 1000;
            animation: para1 linear infinite;
            animation-name: para1;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        >.s{
            height: 200px;
            background-image: url(./[removal.ai]_b3834542-0482-44ca-9000-943c21201f6f-download.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            width: 30px;
            // background-color: #000;
            position: absolute;
            bottom: 47%;
            left: 48%;
            transform-origin: bottom;
            z-index: 1000;
            background-color: transparent;
            border:none;
            animation-duration: 60s;
        }
        .m{
            height: 150px;
            bottom: 48%;
            left: 49.5%;
            animation-duration: 3600s;
        }
        .h{
            height: 100px;
            bottom: 49%;
            left: 49.5%;
            animation-duration: 43200s;
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity: .5;
            object-fit: cover;
        }
        >div{
            width: 70px;
            height: 70px;
            background-color: black;
            position: absolute;
            z-index: 10000;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-40%,-40%);
        }
    }
}
@keyframes para1 {
    to{transform: rotate(360deg);}
}